build/
.DS_Store
DerivedData
OneRepMaxCharts.xcodeproj/xcuserdata/georgehsin.xcuserdatad/xcdebugger/
Pods/
Podfile.lock
*.xcuserstate
*.xccheckoutls
*.moved-aside
*.xcscmblueprint
timeline.xctimeline
playground.xcworkspace